@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsla(var(--n) / var(--tw-bg-opacity, 1));
  border-radius: 5px;
}

.form-control-magic {
  position: relative;
  margin: 30px auto;
  width: 100%;
}

.form-control-magic label {
  position: absolute;
  top: 0px;
  left: 1rem;
}

.form-control-magic input {
  border-bottom: 2px solid #fff;
  font-size: 18px;
  color: #fff;
}

.form-control-magic input:focus,
.form-control-magic input:valid {
  border-bottom-color: hsla(var(--p) / var(--tw-bg-opacity, 1));
  outline: 0;
}

.form-control-magic label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control-magic textarea:focus + label span,
.form-control-magic input:focus + label span,
.form-control-magic input:valid + label span {
  color: hsla(var(--p) / var(--tw-bg-opacity, 1));
  transform: translate(-1rem, -40px);
}

